
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #E7ECF3 ;
}

/* ******** Seccion Header ******* */
.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo{
    width: 90px;
    height: auto;
}

.logo__img{
    width: 100%;
}

.nav{
    /* background-color: rgb(116, 230, 116); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.menu{
    /* background-color: burlywood; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.menu__items{
    list-style-type: none;
    width: fit-content;
    height: 35px;
}

.menu__ancla{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
}

/********Seccion Inicio*******************/
#inicio{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portada{
    width: 100%;
}

.c-item {
    height: 87vh;
}
.c-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/******** NUESTROS SERVICIOS *******/
.servicios {
    height: 100vh;
    margin-top: 35px;
}

.servicios__titulo {
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    margin: 50px auto;
}

.servicios__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.tarjetas{
    width: 350px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.titulo {
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    margin: 10px auto;
}
.descripcion {
  margin-top: 0px;
  margin-left: 10%;
}
.boton {
    width: 120px;
    padding: 10px;
    background-color: #77A5E3;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px auto;
}

/* *****ACERCA DE NOSOTROS ********* */
.nosotros__titulo {
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    margin: 50px auto;
}
.nosotros {
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 90px;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#img_bio {
    width: 490px;
    height: auto;
}

.chef02{
    width: 100%;
}

.biografia{
    width: 450px;
    font-size: 1.3rem;
    padding: 10px auto;
    line-height: 1.5;
}

/* Seccion de Imagenes*/
.titulo_galeria{
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    margin: 50px auto;
}

.imagenes {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
}

.imagenes__container{
    width: 400px;
    height: 350px;
}

.platos{
    width: 100%;
}
 /* fin de seccion de galeria */

#reservas {
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.contacto__titulo {
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    margin: 60px auto;
}
.label-texto {
    font-size: 1.3rem;
}



/* *****Pie de Pafina*********** */

#contacto{
    background-color:#434746;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.columna1 {
 width: 200px;
 height: auto;
 margin-top: 1rem;
}

.columna1 > ul > li {
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
.columna1 > p {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}



@media all and (min-width: 600px) and (max-width: 1023px) {

    header, section, footer  {
        width: 580px;
    }
    
    #img_logo {
        height: 150px;
        width: 250px;
    }
    
     .logotipo {
        width: 150px;
        height: 150px;
     }
    
    #menu {
        height: 150px;
        width: 250px;  
    }
    
    #menu ul li a {
        margin-bottom: 0px;
    }
    
    #inicio {
        height: 750px;
       
    }
    
    #img_izq {
        height: 150px;
        width: 250px;
    }
    
    .chef01 {
        height: auto;
        width: 100%;
    }
    
    #txt_der {
        height: 300px;
        width: 320px;
    }

    #txt_izq {
        height: 200px;
        width: 580px;
    }
    
    .servicios {
        list-style-type: none;
        text-align: center;
    }
    
    #img_centro {
        width: 250px;
        margin-left:0;
        margin-top: 20px;
    }

    .coffe {
       width: 100%;
    }

    #cocina {
        width: 250px;
        margin-right:50px ;
        margin-top: 20px;
    }
    
    .fotococina {
        height: 100%;
    }
    
    
    #opcional {
        height: 180px;
        width: 580px;    
    }
     
    .promocion img {
        width: 40%;
        margin-left: 200px;
        
    }
    
    #nosotros {
        height: 400px;
        margin-top: 190px;
    }
    
    #img_bio {
        margin-bottom:0;
        margin-top: 0;
        margin-left: 200px;
    }
    
    .chef02{
        width: 80%;
    }
    #biografia {
        width: 500px;
    }
    .biografia{
        text-align:center;
        font-family: sans-serif;
    }
    
    /* inicio seccion de galería de la pag.*/
    #imagenes {
        height: 720px;
        /*background-color: #a6d91a;*/
        margin-bottom: 10px;
    }

    #imagenes h2 {
    color: #003300;
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}
    #img_1{
        width: 250px;
        margin-bottom: 0px;
    }
    
    #img_2 {
        height: 250px;
        width: 250px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    #img_3 {
        width: 250px;
        margin-bottom: 10px;
        margin-top: 0;
        margin-left: 15px;
    }
    
    .beer {
       width: 115%;
    }
    
    #img_4 {
        width: 250px;
        float: right;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    #img_5 {
        width: 250px;
        margin-top: 0px;
    }
    
    .pizza {
        width: 110%;
    }
    
    #img_6 {
        width: 250px;
        float: right;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 10px;
    }
    
     /* fin de seccion de galeria */
    
    #contacto {
        height: 550px;
        /* background-color: #d9961a; */
    }
    
    #txt {
        height: 160px;
        width: 580px;
        margin-left: auto;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
    }
    
    #formulario {
        height: 400px;
        width: 580px;
        margin-left: auto;
    }
    
    footer {
        width: 580px;
        margin-top: 150px;
        height: 180px;
    }
    
    #info_contacto {
        height: 100px;
        width: 150px;
        margin-top:30px;
        padding-right: 10px;
        margin-left: 10px;
    }
    
    #redes {
        height: 100px;
        width: 150px;
        padding-left: 20px;
        margin-right: 0;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    #secciones {
        height: 100px;
        width: 150px;
        margin-top:30px;
        padding-right: 10px;
        margin-right: 10px;
        
    }
}  /* fin de media de 600px-1023px */

@media all and (max-width: 599px) {

    header, section, footer  {
        width: 90%;
    }
    
    header {
        height: auto;
    }
    
    #img_logo {
        height: auto;
        width: 100%;
        float: none;
    }
    
     .logotipo {
        width: 100%;
        height: auto;
        padding-left: 0;
     }
    
    #menu {
        height: auto;
        width: 100%;
        float: none;
    }
    
    #menu ul li {
        display: block;
    }
    
    #menu ul li a {
        width: 100%;
        margin-top: 14px;
    }
    
    #inicio {
        height: auto;
    }
    
    #img_izq {
        height: auto;
        width: 100%;
        float: none;
    }
    
    .chef01 {
        height: auto;
        width: 100%;
    }
    
    #txt_der {
        height: auto;
        width: 100%;
        float: none;    
    }
    
    #txt_izq {
        height: auto;
        width: 100%;
        float: none;
    }
    
    .servicios {
        list-style-type: none;
        text-align: center;
    }
    
    #img_centro {
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    #cocina {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    
    #opcional {
        height: auto;
        width: 100%  
    }
    
    .promocion img {
        width: 100%;
        float: none;
        margin-bottom: 50px;
        margin-left: 0;
    
    }
    #nosotros {
        height: auto;
        margin-bottom: 20px;
    }
    
    #img_bio {
        height: auto;
        width: 100%;
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
    }
    
    #biografia {
        height: auto;
        width: 100%;
        float: none;   
        margin-left: 0;
    }
    
    /* inicio seccion de galería de la pag.*/
    #imagenes {
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    #imagenes h2 {
        font-size: 40px;
    }
    
    #img_1{
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #img_2 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    #img_3 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .beer {
       width: 100%;
    }
    
    #img_4 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0; 
    }
    
    
    #img_4 img {
        width: 100%;
    }
    
    #img_5 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .pizza {
        width: 100%;
    }
    
    #img_6 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
     /* fin de seccion de galeria */
    
    #contacto {
        height: auto;
        /*background-color: #d9961a;*/
    }
    
    #txt {
        height: 100px;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #formulario {
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #formulario h2 {
        font-family: 'calibri';
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
    
    .control {
        width: 100%;
        margin-left: 0;
    }
    
    #formulario p {
        height: auto;
    }
    
    .botton {
        width: 100%;
        margin-left: 0;
    }
    
    footer {
        height: 350px;
        width: 100%;
        margin-top: 10px;
    }
    
    #info_contacto {
        height: 100px;
        width: 100%;
        margin-top:10px;
        float: none;;
        padding-right: 0;
        margin-left: 0;
    }
    
    #redes {
        height: 100px;
        width: 100%;
        float: none;
        padding-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
    
    #secciones {
        height: 100px;
        width: 100%;
        margin-top:10px;
        float: none;
        padding-right: 0;
        margin-left: 0;
        
    }

}  /*inicio de media de 599