
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header{
    height: 110px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 13%;
    height: auto;
}
.logo__img{
    width: 100%;
}

.nav{
    /* background-color: rgb(116, 230, 116); */
    width: 800px;
    display: flex;
    justify-content: end;
    align-items:center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.menu__items{
    list-style-type: none;
     width: 95px;
    height: 35px;
}

.menu__ancla{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    color: #292626;
    cursor: pointer;
}

/********Seccion Inicio*******************/
/* #inicio{
    background-color: green;
    height: auto;
} */
.portada{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: #1a8dd9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.portada__img {
    height: 300px;
    width: 460px;
    background-color:rgb(8, 6, 104);
    
}
.chef01{
    width: 100%;
}
.portada__texto {
    height: 300px;
    width: 500px;
    /* background-color:rgb(200, 93, 44); */
}

h1 {
    text-align: center;
    font-size: 2em;
    padding: 10px;
}    

p {
    font-size: 1.3em;
    text-align: center;
    padding: 5px;
}

/******** NUESTROS SERVICIOS *******/

.servicios-varios{
    background-color: hotpink;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    position: relative;
}
.nuestros-servicios{
    font-size: 40px;
    position: absolute;
    top: 10px;
}

#img_izq {
    height: 450px;
    width: 350px;
    background-color: rgb(122, 179, 150);
    border: 2px solid black;
    border-radius: 5px;
}

#img_centro {
    height: 450px;
    width: 350px;
    background-color: rgb(187, 121, 109);
    border: 2px solid black;
    border-radius: 5px;
}

#img_derecha {
    height: 450px;
    width: 350px;
    background-color: rgb(238, 226, 224);
    border: 2px solid black;
    border-radius: 5px;
}

.imagen{
    width: 100%;
}
.subtitulo{
    text-align: center;
    font-size: 1.5em;
}
.parrafo{
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .boton{
    font-size: 1.2em;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
/* ASIDE */
/* #opcional {
    height: 400px;
    width: 100%;    
    background-color: #dd0fe4;
}

.promocion{
    background-color: brown;
    height: 100px;
    width: 450px;
    display: block;
    text-align: center;
}

.promocion img {
    width: 20%;
    margin-bottom: 50px;
    position: absolute;
    left:480px;
    
} */

#nosotros {
    height: 500px;
    background-color:#1ad9cf;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 20px;
}

#img_bio {
    height: 200px;
    width: 200px;
    background-color:#80391e;
}

.chef02{
    width: 100%;
}
#biografia {
    height: 300px;
    width: 500px;
    background-color:#cccc00;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.biografia{
    text-align:center;
    font-family: sans-serif;
    font-size: 24px;
}

/* Seccion de Imagenes*/
.imagenes {
    height: 700px;
    /* background-color: #a6d91a; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
}

.titulo_galeria{
    color: #003300;
    text-align: center;
    font-size: 40px;
}

.imagenes__container{
    width: 300px;
    height: 300px;
    /* background-color: 	#333399; */
    margin-left: 80px;
}

.imagenes__meat{
    width: 100%;
}

.imagenes__burger{
    width: 100%;
}

.imagenes__beer {
   width: 100%;
   height: 68%;
}

.imagenes__pasta{
    width: 100%;
}

.imagenes__pizza {
    width: 100%;
}
.imagenes__salad{
    width: 100%;
}
 /* fin de seccion de galeria */



#contacto {
    height: 800px;
    background-color: #d9961a;
    display: flex;
    justify-content: center;
}

/*#txt {
    height: 400px;
    width: 300px;
    background-color:#5b69b9;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    
}
#txt h2 {
    color: #990000;
    text-align: center;
}

button {
    margin-left:110px;
    margin-top: 30px;
    font-size: 30px;
    text-decoration: none;
}
#txt ul li {
    list-style-type: none;
    color: black;
    font-size: 20px; 
}
*/
.form{
    width: 600px;
    height: auto;
    /* background-color:#009999; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario__contacto{
    text-align: center;
    font-size: 35px;
}

.form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid black;
}
.form__textarea{
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.form__btn{
    width: 120px;
   
    font-size: 1.2rem;
    padding: 5px;
    background-color: rgb(91, 91, 185);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #214946;
    width: 100%;
    height: 200px;
}




@media all and (min-width: 600px) and (max-width: 1023px) {

    header, section, footer  {
        width: 580px;
    }
    
    #img_logo {
        height: 150px;
        width: 250px;
    }
    
     .logotipo {
        width: 150px;
        height: 150px;
     }
    
    #menu {
        height: 150px;
        width: 250px;  
    }
    
    #menu ul li a {
        margin-bottom: 0px;
    }
    
    #inicio {
        height: 750px;
       
    }
    
    #img_izq {
        height: 150px;
        width: 250px;
    }
    
    .chef01 {
        height: auto;
        width: 100%;
    }
    
    #txt_der {
        height: 300px;
        width: 320px;
    }

    #txt_izq {
        height: 200px;
        width: 580px;
    }
    
    .servicios {
        list-style-type: none;
        text-align: center;
    }
    
    #img_centro {
        width: 250px;
        margin-left:0;
        margin-top: 20px;
    }

    .coffe {
       width: 100%;
    }

    #cocina {
        width: 250px;
        margin-right:50px ;
        margin-top: 20px;
    }
    
    .fotococina {
        height: 100%;
    }
    
    
    #opcional {
        height: 180px;
        width: 580px;    
    }
     
    .promocion img {
        width: 40%;
        margin-left: 200px;
        
    }
    
    #nosotros {
        height: 400px;
        margin-top: 190px;
    }
    
    #img_bio {
        margin-bottom:0;
        margin-top: 0;
        margin-left: 200px;
    }
    
    .chef02{
        width: 80%;
    }
    #biografia {
        width: 500px;
    }
    .biografia{
        text-align:center;
        font-family: sans-serif;
    }
    
    /* inicio seccion de galería de la pag.*/
    #imagenes {
        height: 720px;
        /*background-color: #a6d91a;*/
        margin-bottom: 10px;
    }

    #imagenes h2 {
    color: #003300;
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}
    #img_1{
        width: 250px;
        margin-bottom: 0px;
    }
    
    #img_2 {
        height: 250px;
        width: 250px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    #img_3 {
        width: 250px;
        margin-bottom: 10px;
        margin-top: 0;
        margin-left: 15px;
    }
    
    .beer {
       width: 115%;
    }
    
    #img_4 {
        width: 250px;
        float: right;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    #img_5 {
        width: 250px;
        margin-top: 0px;
    }
    
    .pizza {
        width: 110%;
    }
    
    #img_6 {
        width: 250px;
        float: right;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 10px;
    }
    
     /* fin de seccion de galeria */
    
    #contacto {
        height: 550px;
        /* background-color: #d9961a; */
    }
    
    #txt {
        height: 160px;
        width: 580px;
        margin-left: auto;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
    }
    
    #formulario {
        height: 400px;
        width: 580px;
        margin-left: auto;
    }
    
    footer {
        width: 580px;
        margin-top: 150px;
        height: 180px;
    }
    
    #info_contacto {
        height: 100px;
        width: 150px;
        margin-top:30px;
        padding-right: 10px;
        margin-left: 10px;
    }
    
    #redes {
        height: 100px;
        width: 150px;
        padding-left: 20px;
        margin-right: 0;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    #secciones {
        height: 100px;
        width: 150px;
        margin-top:30px;
        padding-right: 10px;
        margin-right: 10px;
        
    }
}  /* fin de media de 600px-1023px */

@media all and (max-width: 599px) {

    header, section, footer  {
        width: 90%;
    }
    
    header {
        height: auto;
    }
    
    #img_logo {
        height: auto;
        width: 100%;
        float: none;
    }
    
     .logotipo {
        width: 100%;
        height: auto;
        padding-left: 0;
     }
    
    #menu {
        height: auto;
        width: 100%;
        float: none;
    }
    
    #menu ul li {
        display: block;
    }
    
    #menu ul li a {
        width: 100%;
        margin-top: 14px;
    }
    
    #inicio {
        height: auto;
    }
    
    #img_izq {
        height: auto;
        width: 100%;
        float: none;
    }
    
    .chef01 {
        height: auto;
        width: 100%;
    }
    
    #txt_der {
        height: auto;
        width: 100%;
        float: none;    
    }
    
    #txt_izq {
        height: auto;
        width: 100%;
        float: none;
    }
    
    .servicios {
        list-style-type: none;
        text-align: center;
    }
    
    #img_centro {
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    #cocina {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    
    #opcional {
        height: auto;
        width: 100%  
    }
    
    .promocion img {
        width: 100%;
        float: none;
        margin-bottom: 50px;
        margin-left: 0;
    
    }
    #nosotros {
        height: auto;
        margin-bottom: 20px;
    }
    
    #img_bio {
        height: auto;
        width: 100%;
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
    }
    
    #biografia {
        height: auto;
        width: 100%;
        float: none;   
        margin-left: 0;
    }
    
    /* inicio seccion de galería de la pag.*/
    #imagenes {
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    #imagenes h2 {
        font-size: 40px;
    }
    
    #img_1{
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #img_2 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    #img_3 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .beer {
       width: 100%;
    }
    
    #img_4 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0; 
    }
    
    
    #img_4 img {
        width: 100%;
    }
    
    #img_5 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .pizza {
        width: 100%;
    }
    
    #img_6 {
        height: auto;
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-left: 0;
    }
    
     /* fin de seccion de galeria */
    
    #contacto {
        height: auto;
        /*background-color: #d9961a;*/
    }
    
    #txt {
        height: 100px;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #formulario {
        height: auto;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    #formulario h2 {
        font-family: 'calibri';
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
    
    .control {
        width: 100%;
        margin-left: 0;
    }
    
    #formulario p {
        height: auto;
    }
    
    .botton {
        width: 100%;
        margin-left: 0;
    }
    
    footer {
        height: 350px;
        width: 100%;
        margin-top: 10px;
    }
    
    #info_contacto {
        height: 100px;
        width: 100%;
        margin-top:10px;
        float: none;;
        padding-right: 0;
        margin-left: 0;
    }
    
    #redes {
        height: 100px;
        width: 100%;
        float: none;
        padding-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
    
    #secciones {
        height: 100px;
        width: 100%;
        margin-top:10px;
        float: none;
        padding-right: 0;
        margin-left: 0;
        
    }

}  /*inicio de media de 599